<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="cabeca">
      <!-- Inserir variavel do nome do cliente -->
      <!-- Escolher Font -->    
      <p class="title">Olá Fulano</p>
      <!-- Inserir variavel do valor em conta -->
      <p class="sub">Valor</p>        
    </ion-title>
  </ion-toolbar>
</ion-header>  

<ion-content>
  <ion-card class="cartao">    
    <ion-card-content>
      <div class="linha1"><img class="img1" src="assets/icon/carteira.svg"><p class="texto1">Saldo</p></div>
      <div class="meio"><img class="recicla" src="assets/icon/troca.svg"></div>
      <div class="linha2"><img class="img2" src="assets/icon/money.svg"><p class="texto2">Saldo</p></div>
    </ion-card-content>
  </ion-card>
  <ion-button class="butaum" color="success">Trocar</ion-button>
</ion-content>