<ion-header>

</ion-header>

<ion-content>
    <ion-card class="cartao">
        <ion-card-header>
          <ion-card-subtitle class="title"> Carteira: </ion-card-subtitle>          
        </ion-card-header>
        <!-- Adicionar variavel do saldo-->
        <ion-card-content>
          <p class="valorsaldo"> Valor </p>
        </ion-card-content>
      </ion-card>

      <ion-card class="cartao2">
          <ion-card-content class="valor">
            <p class="valor"> Valor a Receber: </p>
            <!-- Variavel Valor a Pagar-->
            <p class="valor"> Valor </p>
            <p class="botoes1"> Confirmar </p>            
          </ion-card-content>
        </ion-card>
      
</ion-content>
