<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="cabeca">
      <!-- Inserir variavel do nome do vendedor -->
      <!-- Escolher Font -->    
      <p class="title">Olá Fulano</p>
      <!-- Inserir variavel do valor em conta do vendedor--> 
      <p class="sub">Valor</p>        
    </ion-title>
  </ion-toolbar>
</ion-header>  
<ion-content>  
  <div class="primeiro">
    <p class="titulo">Últimas Transações</p>
  </div>
  <div class="procura">
    <ion-searchbar class="search" placeholder="data"></ion-searchbar>
  </div>

  <!-- Inserir tabela das vendas-->
</ion-content>