<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title class="cabeca">
        <!-- Inserir variavel do nome do cliente -->
        <!-- Escolher Font -->    
        <p class="title">Olá Fulano</p>
        <!-- Inserir variavel do valor em conta -->
        <p class="sub">Valor</p>        
      </ion-title>
    </ion-toolbar>
  </ion-header>  
  <ion-content>

    <div class="box1">
     <p class="imgsize"><img src="assets/icon/lojao.svg"></p>
     <p class="imgsize"><img src="assets/icon/papelaria.svg"></p>
     <p class="imgsize"><img src="assets/icon/bares.svg"></p>    
    </div>
    <div class="box1">
        <p class="imgsize"><img src="assets/icon/mercado.svg"></p>
        <p class="imgsize"><img src="assets/icon/escolas.svg"></p>
        <p class="imgsize"><img src="assets/icon/galeria.svg"></p>
    </div>

    <!--
      Inserir Cards da loja
    -->
    
  </ion-content>
  