ion-content ion-toolbar {
  --background: translucent;
}

.cabeca{
  background-color: #24B960;

  color: black;
}

.title{
 font-size: 14px
}

.sub{
  font-size: 10px
}

.box1{  
  align-content: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}

.imgsize{
  width: 79px;
  height: 29px;
}