<ion-header>

</ion-header>

<ion-content>
    <ion-card class="cartao">
        <ion-card-header>
          <ion-card-subtitle class="title"> Carteira: </ion-card-subtitle>          
        </ion-card-header>
        <!-- Adicionar variavel do saldo-->
        <ion-card-content>
          <p class="valorsaldo"> Valor </p>
        </ion-card-content>
      </ion-card>

      <ion-card class="cartao2">
          <ion-card-header>
            <ion-card-subtitle class="boxtitle"><p class="title2">Codígo Vendedor:</p> <ion-input class="title3"></ion-input> <!-- colocar onclick com função na imagem--><img class="icone" src="assets/icon/infocartao.svg"></ion-card-subtitle>          
          </ion-card-header>
          <!-- Adicionar variavel do saldo-->
          <ion-card-content class="valor">
            <p class="valor"> Valor a Pagar: </p>
            <!-- Variavel Valor a Pagar-->
            <p class="valor"> Valor </p>
            <p class="botoes1"> Pagar </p>
            <p class="botoes2"> Limpar </p>
          </ion-card-content>
        </ion-card>
      
</ion-content>
