<ion-content>
  <div>
    <img class="logohome" src="assets/icon/logo.svg" style="align-items: center">
  </div>
  <ion-card>
    <ion-card-content>
        <ion-input class="inputum" type="email" [(ngModel)]="userLogin.email" placeholder="Digite seu E-mail"></ion-input>
    </ion-card-content>
    <ion-card-content>
        <ion-input class="inputdois" type="password" [(ngModel)]="userLogin.password" placeholder="Digite sua senha"></ion-input>
    </ion-card-content>    
        <ion-button class="butaum" (click)="login()" color="success">Entrar</ion-button>
    <ion-card-content class="textosum"><p>Esqueceu a Senha?</p><p>Precisa de Ajuda?</p></ion-card-content>        
    <ion-card-content class="textosum" (click)="mudarPagina()"><p>Cadastrar-se</p></ion-card-content>
  </ion-card>
</ion-content> 