<ion-content>
  <div>
    <img class="logohome" src="assets/icon/logo.svg" style="align-items: center">
  </div>
  <ion-card>
    <form [formGroup]="validations_form" (ngSubmit)="login(validations_form.userLogin)">
    <ion-card-content>
        <ion-input class="inputum" type="email" formControlName="email" [(ngModel)]="userLogin.email" placeholder="Digite seu E-mail"></ion-input>
    </ion-card-content>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-card-content>
        <ion-input class="inputdois" type="password" formControlName="password" [(ngModel)]="userLogin.password" placeholder="Digite sua senha"></ion-input>
    </ion-card-content>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>    
        <ion-button class="butaum" (click)="login()" color="success">Entrar</ion-button>
    <ion-card-content class="desabilitado"><p>Esqueceu a Senha?</p></ion-card-content>  
    </form>      
    <ion-card-content class="textosum" (click)="mudarPagina()"><p>Cadastrar-se</p></ion-card-content>
  </ion-card>
</ion-content> 