<ion-content>
  <div>
    <img class="logohome" src="assets/icon/logo.svg" style="align-items: center">
  </div>
  <ion-card>
    <ion-card-content>
        <ion-input class="inputum" placeholder="Digite seu E-mail"></ion-input>
    </ion-card-content>
    <ion-card-content>
        <ion-input class="inputdois" placeholder="Digite sua senha"></ion-input>
    </ion-card-content>    
        <ion-button class="butaum" color="success">Entrar</ion-button>
        <ion-button expand="block" fill="outline" (click)="loginGoogle()">Entrar pelo Google</ion-button>
        <!--Adicionar os OnClicks --> 
    <ion-card-content class="textosum"><p>Esqueceu a Senha?</p><p>Precisa de Ajuda?</p></ion-card-content>        
    <ion-card-content class="textosum"><p>Cadastrar-se</p> <p> Cadastrar Vendedor</p></ion-card-content>
  </ion-card>
</ion-content> 